.homeContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.homeContainer{
    padding : 10% 10%
}

.buttonContainer{
    display: flex;
    justify-content: flex-end;
}
.button{
    background-color: blue;
    color: white;
    border: none;
    padding: 10px;
    border-radius:5px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.title{
    text-align: center;
}